# Ignore compiled object files
*.o
*.ko
*.obj
*.elf

# Ignore executable files
*.exe
*.out
*.app

# Ignore build directories
build/
dist/
bin/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore IDE specific files
.vscode/
.idea/

# Ignore dependencies
node_modules/

**/**.pcd
**/**.ply
scripts/__pycache__/